@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020202;
  --red: #ff4533;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--background);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

h1 {
  font-size: clamp(1.5vw, 6.5vw, 5vw);
  line-height: clamp(2vw, 7.5vw, 6vw);
  font-weight: 600;
  color: white;
  padding-inline: 0.5rem;
}

h2 {
  font-size: clamp(1.6vw, 5.7vw, 4.5vw);
  line-height: clamp(1.8vw, 6vw, 4.8vw);
  color: var(--red);
  font-weight: 600;
  padding-inline: 0.5rem;
}

h3 {
  font-size: clamp(1vw, 3vw, 2.5vw);
  line-height: clamp(1.2vw, 4vw, 3vw);
  color: white;
  font-weight: 600;
  padding-inline: 0.5rem;
}

.main-p {
  font-size: clamp(0.5vw, 2vw, 1.5vw);
  line-height: clamp(0.8vw, 3vw, 2vw);
}

.secondary-p {
  font-size: clamp(0.8vw, 1.3vw, 1.5vw);
  line-height: clamp(1vw, 2vw, 2.2vw);
}

.para-sm {
    font-size: clamp(0.5vw, 2vw, 1vw);
    line-height: clamp(0.8vw, 3vw, 1.5vw);
}

.navLinks {
  @apply pl-2 border-l-2 border-transparent hover:border-red transition-all duration-150 ease-out;
  font-size: clamp(0.8vw, 1vw, 1.8vw);
  line-height: clamp(1vw, 1.25vw, 2vw);
}

.icon-vw {
  width: clamp(1vw, 1.5vw, 2.5vw);
  height: clamp(1vw, 1.5vw, 2.5vw);
}

.black-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to top, #020202 0%, transparent 20%);
}

.black-gradient-color {
  background-image: linear-gradient(to top, #000000 30%, transparent);
  /* opacity: 0.5; */
}

input, textarea {
  @apply w-full placeholder:text-[#eeeeee80] placeholder:text-sm placeholder:tracking-wider mt-2 mb-4 bg-transparent border-l focus:border-l-4 border-red px-3 py-2 focus:outline-none focus:ring-1 focus:ring-red transition-all duration-100 ease-in-out;

}

.shiny-text {
  color: rgba(255, 250, 240, 0.5); /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

